export DATABASE_MONGODB_URI=
export DATABASE_MONGODB_DBNAME=chegaai
export MICROSERVICE_GROUP_URL=
export AZURE_STORAGE_ACCOUNT_NAME=
export AZURE_STORAGE_ACCOUNT_ACCESS_KEY=
export AZURE_STORAGE_CONTAINER_NAME=